
{% extends "base.html" %}
{% load static %}
{% block search %}

<input
  class="form-control me-2"
  type="search"
  placeholder="Search"
  aria-label="Search"
  id="myInput"
/>

{% endblock %}
{% block content %}

<div class="container-fluid" style="max-width:1500px">
  <!-- Row 1 -->
  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech w-100">
      <div class="card w-100">
        <div class="card-body">
          
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            
            <div class="mb-3 mb-sm-0">
             <a href="{% url "app:customer" %}"> <h5 class="card-title fw-semibold text-primary text-decoration-underline">Customer Management</h5></a>
            </div>
            <div>
              <a href="?page=add_customer" class="btn btn-primary">Add Customer</a>
            </div>
            <div>

                <button type="button" class="btn btn-primary position-relative"  data-bs-toggle="modal" data-bs-target="#fundingroute">
                  <i class="bi bi-arrow-bar-right"></i> Assign to Agent
                </button>
  
                <!-- Modal -->
                <div class="modal fade" id="fundingroute" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Assign to Agent</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form method='post' action="{% url 'app:assign_agents'  %}">
                        {% csrf_token %}
                      <div class="modal-body">
                        {% comment %} <div class="mb-3">
                          <label for="maincontact" class="form-label">Main Contact</label>
                          <input type="text" class="form-control" id="maincontact" name="main_contact">
                        </div>
                        <div class="mb-3">
                          <label for="telephone" class="form-label">Telephone</label>
                          <input type="text" class="form-control" id="telephone" name="telephone">
                        </div>
                        <div class="mb-3">
                          <label for="email" class="form-label">email</label>
                          <input type="email" class="form-control" id="email" name="email">
                        </div> {% endcomment %}
                        <div class="mb-3">
                          <input
                                type="text"
                                id="customers"
                                placeholder="Select Customers"
                                autocomplete="off"
                                name= "customers"
                              />
                           </div>
                        <div class="mb-3">
                          <input
                                type="text"
                                id="agents"
                                placeholder="Select Agents"
                                autocomplete="off"
                                name= "agents"
                              />
                           </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
                
            </div>
            
            

            <div class="">
              <a href="{% url 'app:import_customers' %}" class="btn btn-primary">Import Customers</a>
            </div>
          </div>
          <div>
            
            {% if request.GET.page == 'add_customer' %}
              <h3>Add Customer</h3>
              
              <form id="addCustomerForm" method="post" action="{% url 'app:add_customer' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required>
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                
                <div class="mb-3">
                    <label for="house_name" class="form-label">House Name/ Number</label>
                    <input type="text" class="form-control" id="house_name" name="house_name"></input>
                </div>
                <div class="mb-3">
                    <label for="street_name" class="form-label">Street Name</label>
                    <input type="text" class="form-control" id="street_name" name="street_name"></input>
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City/Town</label>
                    <input type="text" class="form-control" id="city" name="city"></input>
                </div>
                <div class="mb-3">
                    <label for="county" class="form-label">County</label>
                    <input type="text" class="form-control" id="county" name="county"></input>
                </div>
               
                <div class="mb-3">
                  <label for="postcode" class="form-label">Postcode</label>
                  <input type="text" class="form-control" id="postcode" name="postcode">
              </div>
              <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" name="country"></input>
            </div>

                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Add Customer
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Campaign</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="campaign" class="form-label">Campaign</label>
                            <select class="form-select" id="campaign" name="campaign" aria-label="Default select example">
                              {% for campaign in campaigns %}
                                <option value="{{campaign.id}}">{{campaign.name}}</option>
                              {% endfor %}
                            </select>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" onclick="loadBtn(this)">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>


            </form>
              
            {% elif request.GET.page == 'edit_customer' %}
              <!-- Similar to the user edit form, create a form for editing a customer -->
              <!-- Adjust the form action URL and method accordingly -->
              {% if customer %}
                <h3>Edit Customer</h3>
                <form id="editCustomerForm" method="post" action="{% url 'app:edit_customer' customer.id %}">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="edit_first_name" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="edit_first_name" name="first_name" value="{{ customer.first_name }}" required>
                  </div>
                  <div class="mb-3">
                      <label for="edit_last_name" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="edit_last_name" name="last_name" value="{{ customer.last_name }}" required>
                  </div>
                  <div class="mb-3">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number"  value="{{ customer.phone_number }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email"  value="{{ customer.email }}">
                </div>
                <div class="mb-3">
                  <label for="house_name" class="form-label">House Name/ Number</label>
                  <input type="text" class="form-control" id="house_name" name="house_name" value={{ customer.house_name }}>
              </div>
                <div class="mb-3">
                    <label for="street_name" class="form-label">Street Name</label>
                    <input type="text" class="form-control" id="street_name" name="street_name" value={{ customer.street_name }}>
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City/Town</label>
                    <input type="text" class="form-control" id="city" name="city" value={{ customer.city }}>
                </div>
                <div class="mb-3">
                    <label for="county" class="form-label">County</label>
                    <input type="text" class="form-control" id="county" name="county" value={{ customer.county }}>
                </div>
                <div class="mb-3">
                  <label for="postcode" class="form-label">Postcode</label>
                  <input type="text" class="form-control" id="postcode" name="postcode" value="{{ customer.postcode }}">
              </div>
              <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" name="country" value={{ customer.country }}>
            </div>
                  <button type="submit" class="btn btn-primary">Update Customer</button>
              </form>
              {% else %}
                <p>Customer not found.</p>
              {% endif %}
              
            {% else %}
                <table class="table">
                  
                  <thead>
  <tr>
    {% if user.is_staff %}
      <th>
        <input type="checkbox" id="selectAll">
      </th>
    {% endif %}
   {% comment %} <th onclick="sortTable(0)">
      ID <span id="arrow0"></span>
    </th>  {% endcomment %}
    <th>
      Date Recieved
    </th>
    <th onclick="sortTable(0)">
      Customer <span id="arrow0"></span>
    </th>
    <th>
      Funding Route
    </th>
    <th onclick="sortTable(1)">
      Stage <span id="arrow1"></span>
    </th>
    <th >
      Next Action <span id="arrow3"></span>
    </th>
    <th >
      Assigned To
    </th>
  </tr>
</thead>

                  <tbody id="myTable">
                    {% if customers %}
                    {% for customer in customers %}

                      <tr>
                        {% if user.is_staff %}
                        <td>
                          <input type="checkbox" class="select-customer" data-customer-id="{{ customer.id }}">
                        </td>
                      {% endif %}
                      
                        <td style="width: 20%;">{{ customer.created_at }}</td>
                        <td class="text-underlined" style="width: 20%;"><a href="/customer-detail/{{customer.id}}">{{ customer.first_name }} {{ customer.last_name }}</a></td>
                        {% if customer.route %}
                        <td style="width: 20%;">{{ customer.route.name }}</td>
                        {% else %}
                        <td style="width: 20%;">-</td>
                        {% endif %}
                        <td style="width: 10%;">stage 1</td>
                        {% with all_actions=customer.get_created_at_action_history %}
                          {% if all_actions|length >= 1 %}
                            {% with action=all_actions.0 %}
                            {% if action.imported %}
                            <td style="width: 10%;">-</td>
                            {% else %}
                            <td style="width: 30%;"><b>{{ action.date_time }}</b> - {{ action.text|truncatechars:50 }}</td>

                            {% endif %}
                            {% endwith %}
                          {% else %}
                          <td style="width: 10%;">-</td>
                          {% endif %}
                        {% endwith %}
                        {% if customer.assigned_to %}
                        <td >{{ customer.assigned_to.first_name }} {{ customer.assigned_to.last_name }}</td>
                        {% else %}
                        <td >-</td>
                        {% endif %}
                        <td style="display:none;" >{{ customer.postcode }}</td>
                      </tr>

                    {% endfor %}
                  {% else %}
                    <tr class="text-center display-flex align-items-center justify-content-center">
                      <td colspan="6" class="text-center">No Customers</td>
                    </tr>
                  {% endif %}
                  </tbody>
                  {% if user.is_staff %}
                  <div>
                    <button type="button" class="btn btn-danger" id="deleteSelectedBtn">Delete Selected</button>
                  </div>
                {% endif %}
                </table>
            {% endif %}


          </div>
        </div>
      </div>
    </div>
  </div>
</div>






{% endblock content %}


{% block js %}
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

function sortTable(colIndex) {
  var table,
    rows,
    switching,
    i,
    x,
    y,
    shouldSwitch,
    dir,
    switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  dir = "asc"; // Set the sorting direction to ascending by default

  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 0; i < rows.length - 1; i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("td")[colIndex];
      y = rows[i + 1].getElementsByTagName("td")[colIndex];
      if (dir === "asc") {form
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      } else if (dir === "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount++;
    } else {
      if (switchcount === 0 && dir === "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }

  
}

document.addEventListener('DOMContentLoaded', function () {
  // Select/deselect all checkboxes
  const selectAllCheckbox = document.getElementById('selectAll');
  const customerCheckboxes = document.querySelectorAll('.select-customer');

  selectAllCheckbox.addEventListener('change', function () {
    customerCheckboxes.forEach(checkbox => {
      checkbox.checked = selectAllCheckbox.checked;
    });
  });

  // Bulk delete
  const deleteSelectedBtn = document.getElementById('deleteSelectedBtn');

  deleteSelectedBtn.addEventListener('click', function () {
    const selectedCustomerIds = Array.from(customerCheckboxes)
      .filter(checkbox => checkbox.checked)
      .map(checkbox => checkbox.getAttribute('data-customer-id'));

    if (selectedCustomerIds.length > 0) {
      const confirmDelete = confirm('Are you sure you want to delete selected customers?');
      if (confirmDelete) {
        window.location.href = `bulk_remove_customers/?ids=${selectedCustomerIds.join(',')}`;
      }
    } else {
      alert('Please select customers to delete.');
    }
  });
});

const form = document.querySelector('#addCustomerForm');



</script>



<script>


  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  

</script>



  
<script>


  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  
  

</script>

<script type="module">
  jQuery(document).ready(function ($) {
    // Get the unassigned customers from the backend
    //let unassignedCustomers = JSON.parse("{{ unassigned_customers | escapejs }}");

    // Extract the names of unassigned customers
    
    //let comboSource = unassignedCustomers.map(customer => {
     // return {
     //   id: customer.pk,
     //   title: customer.fields.first_name + ' ' + customer.fields.last_name + ' - ' + customer.pk,
    //  };
    //});
    const options = [
      {
        id:0,
        title: 'All Unassigned Customers'
      }
    ]
    let agents = JSON.parse("{{ agents | escapejs }}");
    for (let i = 0; i < agents.length; i++) {
      options.push({
        id: i+1,
        title: "All Customers Assigned to "+agents[i].fields.first_name + ' ' + agents[i].fields.last_name + ' - ' + agents[i].pk
      });
    }
    // Create comboTree using unassigned customer names
    comboTree1 = $("#customers").comboTree({
      source: options,
      isMultiple: true,
      cascadeSelect: false,
      collapse: true,
    });
  });
  jQuery(document).ready(function ($) {
    // Get the unassigned customers from the backend
    let agents = JSON.parse("{{ agents | escapejs }}");

    // Extract the names of unassigned customers
    let comboSource2 = agents.map(agent => {
      return {
        id: agent.pk,
        title: agent.fields.first_name + ' ' + agent.fields.last_name + ' - ' + agent.pk
      };  
    });
    // Create comboTree using unassigned customer names
    comboTree2 = $("#agents").comboTree({
      source: comboSource2,
      isMultiple: true,
      cascadeSelect: false,
      collapse: true,
      selectAll: true,
    });
  });
  function loadBtn(e){
    e.disabled = true
    e.innerHTML = 'Loading...'
    document.getElementById('addCustomerForm').submit()
  }
</script>


  

{% endblock js %}
