{% extends 'base.html' %} {% load static %} {% load custom %} {% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<style>
    .table>:not(caption)>*>*{
    padding:5px;
 }
 a{
        text-decoration: 'none';
        color: black;
    
 }

 @media (max-width:1200px){
  tbody, tbody tr th{
      font-size: 9px !important;
  }
  .btn{
    margin-bottom: 10px !important;
    margin-right: -5px !important;
  }
}

</style>

{% endblock %} 

{% block content %}
<div class="container-fluid" style="max-width:1500px">
<div class="row">
    <div class="col-lg-12 d-flex align-items-strech w-100">
      <div class="card w-100">
        <div class="card-body">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
          
        
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <div class="mb-3 mb-sm-0">
             <a href="/orders"> <h5 class="card-title fw-semibold text-primary text-decoration-underline">Order Management</h5></a>
            </div>
            {% if request.user.is_superuser %}
            <div>
              <a href="/new_order?page=new_order" class="btn btn-primary">New Order</a>
            </div>
            <div>
              <a href="/completed_orders" class="btn btn-primary">Completed Orders</a>
            </div>
            <div>

              <button type="button" class="btn btn-primary position-relative"  data-bs-toggle="modal" data-bs-target="#fundingroute">
                <i class="bi bi-arrow-bar-right"></i> Assign to Manufacturer
              </button>

              <!-- Modal -->
              <div class="modal fade" id="fundingroute" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Select the Manufacturer</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method='post' action="{% url 'app:assign_to_manufacturer'  %}">
                      {% csrf_token %}
                    <div class="modal-body">
                      <div class="mb-3">
                          <label for="order" class="form-label" >Order</label>
                          <select class="form-select" name="order" id="order" required>
                              <option value="">Select Order</option>

                              {% for order in items %}
                              <option value="{{order.id}}">{{order.order_id}} - {{order.title}}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div class="mb-3">
                          <label for="manufacturer" class="form-label" >Manufacturer</label>
                          <select class="form-select" name="manufacturer" id="manufacturer" required>
                              <option value="">Select Manufacturer</option>
                              {% for man in mans %}
                              <option value="{{man.id}}">{{man.first_name}}{{man.last_name}}</option>
                              {% endfor %}
                          </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
              
          </div>
          
            {% endif %}
            <div>
              {% if not request.user.user_type == "shop" %}
                <button type="button" class="btn btn-primary position-relative"  data-bs-toggle="modal" data-bs-target="#filterbyshop">
                  <i class="bi bi-filter"></i> Filter by Shop
                </button>
                {% endif %}
  
                <!-- Modal -->
                <div class="modal fade" id="filterbyshop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Select the Shop</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form method='post' action="{% url 'app:filterbyshop'  %}">
                        {% csrf_token %}
                      <div class="modal-body">
                        <div class="mb-3">
                            <label for="shop_id" class="form-label" >Shop Name</label>
                            <select class="form-select" name="shop_id" id="shop_id" required>
                                <option value="">Select Shop</option>
                                {% for shop in shops %}
                                <option value="{{shop.id}}">{{shop.first_name}} {{shop.last_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
                
            </div>
            
            
          </div>
          <div>
            {% if items %}
{% for item in items %}

<div class="">
   
  <div class="card pt-5">
      <div class="card-body pb-0" style="">
        <span> <b>Status :</b> {{item.status}} </span> <br>
        <span> <b>Order ID :</b> {{item.order_id}} </span> <br>
        <span> <b>2nd Order ID :</b> {{item.order_id_2}} </span> <br>
        <span> <b>Order Date  :</b> {{item.order_date|date:"d-m-Y"}} </span> <br>
        {% if not item.completed and request.user.is_superuser %}
            <a  href="{% url "app:markascomplete" item.id %}" class="btn btn-success" style="position: absolute; left: 10px; top: 10px;">Mark as Complete</a>
            {% endif %}
            {% if not request.user.user_type == "shop" %}
            <a href="{% url 'app:edit_order' item.id  %}" class="btn btn-warning" style="position: absolute; right: 10px; top: 10px;">Edit Order</a>
            {% endif %}
            <div class="row mt-3">
              <div class="col-sm-2">
                  <div class="card" style="border: 1px solid #ff0">
                    {% if item.admin_photo %}
                    {% with url=item.admin_photo.url|split:'.' %}
                    
                      <a href="{{ item.admin_photo.url }}" target="_blank">
                        {% if url.1 == 'png' %}
                        <img src="{{item.admin_photo.url}}" width="250px" class="card-img-top"  alt="Admin Photo">
                        {% else %}
                        <video src="{{item.admin_photo.url}}" width="140px"  class="object-fit-cover" autoplay></video>
                        {% endif %}

                      </a>
                    {% endwith %}
                      {% endif %}
                    </div>
                    <div class="card" style="border: 1px solid #ff0">
                      
                      {% if item.manufacturer_photo %}
                      {% with url=item.manufacturer_photo.url|split:'.' %}
                      
                        <a href="{{ item.manufacturer_photo.url }}" target="_blank">
                          {% if url.1 == 'png' %}
                          <img src="{{item.manufacturer_photo.url}}" width="250px" class="card-img-top"  alt="Admin Photo">
                          {% else %}
                          <video src="{{item.manufacturer_photo.url}}" width="140px" class="object-fit-cover" autoplay></video>
                          {% endif %}
  
                        </a>
                      {% endwith %}
                        {% endif %}
                    </div>
              </div>
              <div class="col-sm-3">
                  <div class="card">
                      <div class="card-body pt-2 py-0">
                          <h5 class="card-title">Item Details</h5>
                          <p class=" fs-4 "> <h5 class="card-title fs-4 " style="display:inline;"> Title : </h5> {{item.title}} </p>
                          <p class=" fs-4 "> <h5 class="card-title fs-4 " style="display:inline;"> Quantity : </h5> {{item.quantity}} </p>
                            <p class=" fs-4 "> <h5 class="card-title fs-4 " style="display:inline;"> Material : </h5> {{item.material}} </p>
                            <p class=" fs-4 "> <h5 class="card-title fs-4 " style="display:inline;"> Color : </h5> {{item.color}} </p>
                            <p class=" fs-4 "> <h5 class="card-title fs-4 " style="display:inline;"> Size : </h5> {{item.size}} </p>
                            <p class=" fs-4 "> <h5 class="card-title fs-4 " style="display:inline;"> Personalization : </h5> {{item.personalization}} </p>
                            <p class=" fs-4 "> <h5 class="card-title fs-4 " style="display:inline;"> Order Date : </h5> {{item.order_date|date:"d-m-Y"}} </p>
                            <p class=" fs-4 "> <h5 class="card-title fs-4 " style="display:inline;"> Last Date : </h5> {{item.last_date|date:"d-m-Y"}} </p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="card">
                      <table class="table table-bordered" >
                          <tbody>
                            {% if not request.user.user_type == "manufacturer" %}
                              <tr>
                                  <td class="edit_optional1 edit">{{item.optional1}}</td>
                                  <th><h5 scope="row" class="card-title fs-3 " style="display:inline;">MM</h5></th>

                                 <th> <h5 scope="row" class="card-title fs-3 " style="display:inline;">Carat</h5></th>

                                  <th><h5 scope="row" class="card-title fs-3 " style="display:inline;">Rate</h5></th>

                                 <th> <h5 scope="row" class="card-title fs-3 " style="display:inline;">Total Price</h5></th>

                              </tr>
                              <tr><th>
                                  <h5 scope="row" class="card-title fs-3 " style="display:inline;">Main Stone</h5></th>
                                  <td class="edit_main_stone1 edit">{{item.main_stone1}}</td>
                                  <td class="edit_main_stone2 edit">{{item.main_stone2}}</td>
                                  <td class="edit_main_stone3 edit">{{item.main_stone3}}</td>
                                  <td class="edit_main_stone4 edit">{{item.main_stone4}}</td>
                              </tr>
                              <tr><th>
                                  <h5 scope="row" class="card-title fs-3 " style="display:inline;">Side Stone</h5></th>
                                  <td class="edit_side_stone1 edit">{{item.side_stone1}}</td>
                                  <td class="edit_side_stone2 edit">{{item.side_stone2}}</td>
                                  <td class="edit_side_stone3 edit">{{item.side_stone3}}</td>
                                  <td class="edit_side_stone4 edit">{{item.side_stone4}}</td>
                              </tr>
                              <tr>
                                <td class="edit_optional2 edit">{{item.optional2}}</td>
                                <td class="edit_optional3 edit">{{item.optional3}}</td>
                                <td class="edit_optional4 edit">{{item.optional4}}</td>
                                <td class="edit_optional5 edit">{{item.optional5}}</td>
                                  <td  class="">{{item.mainsidesum}}</td>
                              </tr>
                              <tr>
                                  <td class="p-3" colspan=5></td>
                              </tr>
                            {% endif %}

                            {% if not request.user.user_type == "employee" %}
                              <tr>
                                  <td></td>
                                  <th><h5 scope="row" class="card-title fs-3" style="display:inline;">Metal Type</h5></th>
                                  <th><h5 scope="row" class="card-title fs-3" style="display:inline;">Weight</h5></th>
                                  <th><h5 scope="row" class="card-title fs-3" style="display:inline;">Per Gram</h5></th>
                                  <th><h5 scope="row" class="card-title fs-3" style="display:inline;">Total Cost</h5></th>
                                  
                              </tr>
                              <tr><th>
                                  <h5 scope="row" class="card-title fs-3" style="display:inline;">Material Used</h5></th>
                                  <td class="edit_material_used1 edit">{{item.material_used1}}</td>
                                  <td class="edit_material_used2 edit">{{item.material_used2}}</td>
                                  <td class="edit_material_used3 edit">{{item.material_used3}}</td>
                                  <td class="edit_material_used4 edit">{{item.material_used4}}</td>
                              </tr>
                              
                              <tr><th>
                                  <h5 scope="row" class="card-title fs-3 " style="display:inline;">Labour</h5></th>
                                  <td class="edit_optional11 edit">{{item.optional11}}</td>
                                  <td class="edit_labour1 edit">{{item.labour1}}</td>
                                  <td class="edit_labour2 edit">{{item.labour2}}</td>
                                  <td class="edit_labour3 edit">{{item.labour3}}</td>
                                
                              </tr>
                              <tr>
                                <td class=""></td>
                                <td class="edit_optional6 edit">{{item.optional6}}</td>
                                <td class="edit_optional7 edit">{{item.optional7}}</td>
                                <td class="edit_optional8 edit">{{item.optional8}}</td>
                                  <td  class="">{{item.materiallaboursum}}</td>
                              </tr>
                              {% endif %}
                              <tr>
                              {% if not request.user.user_type == "manufacturer" %}
                                <th>
                                  <h5 scope="row" class="card-title fs-3" style="display:inline;">Delivery Cost</h5></th>
                                  <td class="edit_delivery_cost edit" >{{item.delivery_cost}}</td>
                                  <td class="edit_optional9 edit" >{{item.optional9}}</td>
                                  <td class="edit_optional10 edit" >{{item.optional10}}</td>
                                  <td ></td>
                                  </tr>
                                  <tr><th>
                                  <h5 scope="row" class="card-title fs-3 " style="display:inline;">Packaging Cost</h5></th>
                                  <td class="edit_packaging_cost edit" >{{item.packaging_cost}}</td>
                                  <td >{{item.deliverypackagesum}}</td>
                              {% endif %}
                                  {% if request.user.is_superuser %}
                                  <th >Total</th>
                                  <td >{{item.total_cost}}</td>
                                  {% endif %}
                              </tr>
                          </tbody>
                      </table>
                      <form action="{% url 'app:edit_table' item.id %}" method="post" class="table_form" onsubmit="editTable(this)">
                        {% csrf_token %}
                        {% if not request.user.user_type == "employee" %}
                        <input type="hidden" class="material_used1" name="material_used1">
                        <input type="hidden" class="material_used2" name="material_used2">
                        <input type="hidden" class="material_used3" name="material_used3">
                        <input type="hidden" class="material_used4" name="material_used4">
                        <input type="hidden" class="optional11" name="optional11">
                        <input type="hidden" class="labour1" name="labour1">
                        <input type="hidden" class="labour2" name="labour2">
                        <input type="hidden" class="labour3" name="labour3">
                        <input type="hidden" class="optional6" name="optional6">
                        <input type="hidden" class="optional7" name="optional7">
                        <input type="hidden" class="optional8" name="optional8">
                        {% endif %}
                        {% if not request.user.user_type == "manufacturer" %}
                        
                        <input type="hidden" class="main_stone1" name="main_stone1">
                        <input type="hidden" class="main_stone2" name="main_stone2">
                        <input type="hidden" class="main_stone3" name="main_stone3">
                        <input type="hidden" class="main_stone4" name="main_stone4">
                        <input type="hidden" class="side_stone1" name="side_stone1">
                        <input type="hidden" class="side_stone2" name="side_stone2">
                        <input type="hidden" class="side_stone3" name="side_stone3">
                        <input type="hidden" class="side_stone4" name="side_stone4">
                        <input type="hidden" class="optional1" name="optional1">
                        <input type="hidden" class="optional2" name="optional2">
                        <input type="hidden" class="optional3" name="optional3">
                        <input type="hidden" class="optional4" name="optional4">
                        <input type="hidden" class="optional5" name="optional5">
                        <input type="hidden" class="optional9" name="optional9">
                        <input type="hidden" class="optional10" name="optional10">
                        <input type="hidden" class="delivery_cost" name="delivery_cost">
                        <input type="hidden" class="packaging_cost" name="packaging_cost">
                        {% endif %}
                      </form>
                  </div>
              </div>
              {% if not request.user.user_type == "manufacturer"  %}
              <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body pt-2 py-0">
                        <p> <h5 class="card-title fs-3 " style="display:inline;"> Original Delivery Date : </h5> {{item.original_delivery_date|date:"d-m-Y" }} </p>
                        <p> <h5 class="card-title fs-3 " style="display:inline;"> Customer Name : </h5> {{item.customer_name}} </p>
                        <p> <h5 class="card-title fs-3 " style="display:inline;"> Customer Email : </h5> {{item.customer_email}} </p>
                        <p> <h5 class="card-title fs-3 " style="display:inline;"> Customer Mobile : </h5> {{item.customer_mobile}} </p>
                          <p> <h5 class="card-title fs-3 " style="display:inline;"> Fast Shipping : </h5> {% if item.fast_shipping %}
                            <i class="bi bi-check-square" style="color:green;"></i>
                            {% else %}
                            <i class="bi bi-x-square" style="color:red;"></i>{% endif %} </p>
                          <p> <h5 class="card-title fs-3 " style="display:inline;"> Address : </h5> {{item.address}} </p>
                          <p> <h5 class="card-title fs-3 " style="display:inline;"> Country : </h5> {{item.country}} </p>
                          <p class="mt-5"> <h5 class="card-title fs-3 " style="display:inline;"> Shop Name : </h5> {{item.shop.first_name}} {{item.shop.last_name}} </p>
                          <p class="mt-5"> <h5 class="card-title fs-3 " style="display:inline;"> Assigned to : </h5> {{item.assigned_to.first_name}} {{item.assigned_to.last_name}} </p>
                    </div>
                  </div> 
              </div>
              {% endif %}
          </div>

      </div>
  </div>
  </div>
  

{% endfor %}
</div>
{% else %}
No Orders Found
{% endif %}

{% endblock %}
{% block js %}
<script>
{% if not request.user.user_type == "shop" %}
  const tds = document.querySelectorAll('.edit');
  tds.forEach(td => {
    td.addEventListener('dblclick', () => {
      const form = td.closest("table").nextSibling.nextSibling;
      if (document.querySelector('.submit-btn')) {
  
      } else {
  
  
        tds.forEach(td => {
            td.setAttribute('contenteditable', "true");
        });
        const Submit = document.createElement('button');
        Submit.classList.add('btn', 'btn-primary', 'submit-btn', 'm-2','mb-4');
        //Submit.setAttribute('type', "button");
        //Submit.setAttribute('onclick', "editTable(this);");
        Submit.innerHTML = `Submit`;
        form.insertAdjacentElement('beforeEnd', Submit);
      }
    });
  });
  
  function editTable(e) {
    form = e;
    table = e.previousSibling.previousSibling;
    {% if not request.user.user_type == "employee" %}

    const material_used1 = form.querySelector('.material_used1');
    const material_used2 = form.querySelector('.material_used2');
    const material_used3 = form.querySelector('.material_used3');
    const material_used4 = form.querySelector('.material_used4');
    const labour1 = form.querySelector('.labour1');
    const labour2 = form.querySelector('.labour2');
    const labour3 = form.querySelector('.labour3');
    const optional6 = form.querySelector('.optional6');
    const optional7 = form.querySelector('.optional7');
    const optional8 = form.querySelector('.optional8');
    const edit_material_used1 = table.querySelector('.edit_material_used1');
    const edit_material_used2 = table.querySelector('.edit_material_used2');
    const edit_material_used3 = table.querySelector('.edit_material_used3');
    const edit_material_used4 = table.querySelector('.edit_material_used4');
    const edit_labour1 = table.querySelector('.edit_labour1');
    const edit_labour2 = table.querySelector('.edit_labour2');
    const edit_labour3 = table.querySelector('.edit_labour3');
    const edit_optional6 = table.querySelector('.edit_optional6');
    const edit_optional7 = table.querySelector('.edit_optional7');
    const edit_optional8 = table.querySelector('.edit_optional8');
    material_used1.value = edit_material_used1 === null ? 'None' : edit_material_used1.innerHTML ;
    material_used2.value = edit_material_used2 === null ? 'None' : edit_material_used2.innerHTML ;
    material_used3.value = edit_material_used3 === null ? 'None' : edit_material_used3.innerHTML ;
    material_used4.value = edit_material_used4 === null ? 'None' : edit_material_used4.innerHTML ;
    labour1.value = edit_labour1 === null ? 'None' : edit_labour1.innerHTML ;
    labour2.value = edit_labour2 === null ? 'None' : edit_labour2.innerHTML ;
    labour3.value = edit_labour3 === null ? 'None' : edit_labour3.innerHTML ;
    optional6.value = edit_optional6 === null ? 'None' : edit_optional6.innerHTML ;
    optional7.value = edit_optional7 === null ? 'None' : edit_optional7.innerHTML ;
    optional8.value = edit_optional8 === null ? 'None' : edit_optional8.innerHTML ;
    const optional11 = form.querySelector('.optional11');
    const edit_optional11 = table.querySelector('.edit_optional11');
    optional11.value = edit_optional11 === null ? 'None' : edit_optional11.innerHTML;  
    {% endif %}
    {% if not request.user.user_type == "manufacturer" %}
    const main_stone1 = form.querySelector('.main_stone1');
    const main_stone2 = form.querySelector('.main_stone2');
    const main_stone3 = form.querySelector('.main_stone3');
    const main_stone4 = form.querySelector('.main_stone4');
    const side_stone1 = form.querySelector('.side_stone1');
    const side_stone2 = form.querySelector('.side_stone2');
    const side_stone3 = form.querySelector('.side_stone3');
    const side_stone4 = form.querySelector('.side_stone4');
    const optional1 = form.querySelector('.optional1');
    const optional2 = form.querySelector('.optional2');
    const optional3 = form.querySelector('.optional3');
    const optional4 = form.querySelector('.optional4');
    const optional5 = form.querySelector('.optional5');
    const optional9 = form.querySelector('.optional9');
    const optional10 = form.querySelector('.optional10');
    const delivery_cost = form.querySelector('.delivery_cost');
    const packaging_cost = form.querySelector('.packaging_cost');
    const edit_main_stone1 = table.querySelector('.edit_main_stone1');
    const edit_main_stone2 = table.querySelector('.edit_main_stone2');
    const edit_main_stone3 = table.querySelector('.edit_main_stone3');
    const edit_main_stone4 = table.querySelector('.edit_main_stone4');
    const edit_side_stone1 = table.querySelector('.edit_side_stone1');
    const edit_side_stone2 = table.querySelector('.edit_side_stone2');
    const edit_side_stone3 = table.querySelector('.edit_side_stone3');
    const edit_side_stone4 = table.querySelector('.edit_side_stone4');
    const edit_optional1 = table.querySelector('.edit_optional1');
    const edit_optional2 = table.querySelector('.edit_optional2');
    const edit_optional3 = table.querySelector('.edit_optional3');
    const edit_optional4 = table.querySelector('.edit_optional4');
    const edit_optional5 = table.querySelector('.edit_optional5');
    const edit_optional9 = table.querySelector('.edit_optional9');
    const edit_optional10 = table.querySelector('.edit_optional10');
    const edit_delivery_cost = table.querySelector('.edit_delivery_cost');
    const edit_packaging_cost = table.querySelector('.edit_packaging_cost');
    main_stone1.value = edit_main_stone1 === null ? 'None' : edit_main_stone1.innerHTML ;
    main_stone2.value = edit_main_stone2 === null ? 'None' : edit_main_stone2.innerHTML ;
    main_stone3.value = edit_main_stone3 === null ? 'None' : edit_main_stone3.innerHTML ;
    main_stone4.value = edit_main_stone4 === null ? 'None' : edit_main_stone4.innerHTML ;
    side_stone1.value = edit_side_stone1 === null ? 'None' : edit_side_stone1.innerHTML ;
    side_stone2.value = edit_side_stone2 === null ? 'None' : edit_side_stone2.innerHTML ;
    side_stone3.value = edit_side_stone3 === null ? 'None' : edit_side_stone3.innerHTML ;
    side_stone4.value = edit_side_stone4 === null ? 'None' : edit_side_stone4.innerHTML ;
    optional1.value = edit_optional1 === null ? 'None' : edit_optional1.innerHTML ;
    optional2.value = edit_optional2 === null ? 'None' : edit_optional2.innerHTML ;
    optional3.value = edit_optional3 === null ? 'None' : edit_optional3.innerHTML ;
    optional4.value = edit_optional4 === null ? 'None' : edit_optional4.innerHTML ;
    optional5.value = edit_optional5 === null ? 'None' : edit_optional5.innerHTML ;
    optional9.value = edit_optional9 === null ? 'None' : edit_optional9.innerHTML ;
    optional10.value = edit_optional10 === null ? 'None' : edit_optional10.innerHTML;  
    delivery_cost.value = edit_delivery_cost === null ? 'None' : edit_delivery_cost.innerHTML ;
    packaging_cost.value = edit_packaging_cost === null ? 'None' : edit_packaging_cost.innerHTML ;
    {% endif %}
    
    //e.submit();
    //console.log(e)
  }
  {% endif %}
</script>
{% endblock %}